@import '@servicenow/sass-kit/host';
@import '@servicenow/sass-utility/index';
@import './form-include.css';

.taskBtn {
    margin: 1em;
}

.taskBtnBar {
    display: grid;
    align-items: center;
    grid-template-columns: 75% 25%;
    word-wrap: break-word;
}

.inputBtnIcon {
    margin: .25em;
}

.discover-accordion-item {
    background: #fcfcfc;
    border: solid;
    border-color: #e2e2e2;
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: .25em;
}

.discover-alert-bar {
    padding: .5em;
    animation-name: fadegrow;
    animation-duration: 1s;
}


@keyframes fadegrow {
    0% {
        opacity: 0;
        height: 0;
    }
    50% {
        opacity: .5;
        height: 50%;
    }
    100% {
        opacity: 1;
        height: 100%;
    }
}

.discover-task-description {
    margin-bottom: 3em;
    margin-left: 1em;
}

.discover-task-form {
    padding: .5em;
    display: flow-root
}

.discover-form-wrapper {
	position: relative;
	margin: 2.5em .5em 1em .5em;
}

.discover-form-wrapper > label {
    position: absolute;
    bottom: 2.25em;
    left: .25em;
    font-family: var(--mv9-PvZT-PAtjp_jrktj--Pvmz-PrTAjO,var(--now-font-family,"Source Sans Pro",Arial,));
    text-transform: var(--mv9-PvZT-PAtjp_jrktj--ztuz-zZrm1PvZT,none);
    color: RGB(var(--mv9-PvZT-PAtjp_jrktj--JvjvZ,var(--now-color_text--tertiary,var(--now-color--neutral-9,99,114,116))));
}


.control-label {
    padding-left: 1.25em;
}

.rero-accordion-main {
    padding: .5em;
}

input.form-control:invalid {
    border-color: RGB(var(--mv9-PvZT-PAtjp_jrktj--JvjvZ--AmsrjAp,var(--now-color_alert--critical-2,200,60,54)));
    border-style: solid;
}
input.form-control:invalid ~ label {
    color: RGB(var(--mv9-PvZT-PAtjp_jrktj--JvjvZ--AmsrjAp,var(--now-color_alert--critical-2,200,60,54)));
}

